{% extends <base.html %}

{% block content %}
<div style="height: 25vh; width: 25vw; background-color:blanchedalmond;">
    <h1>I am simply a single listing. And I am fine with that.</h1>
</div>
<div style="height: 25vh; width: 25vw; background-color:blanchedalmond;">
    <h1>I am simply a single listing. And I am fine with that.</h1>
</div>
<div style="height: 25vh; width: 25vw; background-color:blanchedalmond;">
    <h1>I am simply a single listing. And I am fine with that.</h1>
</div>

{% endblock %}
