{% extends 'base.html' %} 

{% block content %}
<h1> Listings </h1>
<h2> At WN Real Estate, we list our listings listingly. For inquiries please use the contact info provided in our painstakenly crafted header</h2>
<ul>
    
    <li style="width: 325px; height: 325px; margin: 30px;"><div><strong>Listing 1</strong><p>123 Random Address, Palo Alto, CA 94020</p><img src="https://live.staticflickr.com/2701/4281642997_d90998b955_b.jpg"><p>Price: $2,000,000</p></div></li>

    <li style="width: 325px; height: 325px; margin: 30px; margin-bottom: 10px;"><div><strong>Listing 2</strong><p>18 Middle-A-Nowhere Lane, San Francisco, CA 94016</p><img src="https://i.pinimg.com/736x/db/5f/61/db5f614677e9c34b6cd7c75411b09239.jpg"><p>Price: $1,200,000</p></div></li>5

    <li style="width: 325px; height: 325px; margin: 30px; margin-top: 60px;"><div><strong>Listing 3</strong><p>18556 Beach Road, Lemoore, CA 93245</p><img src="https://static1.bigstockphoto.com/9/2/1/large1500/129956006.jpg"><p>Price: $4,500,000</p></div></li>
    
</ul>
{% endblock %}