<!-- Top Bar -->
<section id="top-bar" class="p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="icon fas fa-phone"></i> (917)-555-5555
            </div>
            <div class="col-md-4">
                <i class="icon fas fa-envelope-open"></i> contact@wnrealestate.co
            </div>
            <div class="col-md-4">
                <div class="social text-right">
                    <a href="#">
                        <i class="icon fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="icon fab fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="icon fab fa-linkedin"></i>
                    </a>
                    <a href="#">
                        <i class="icon fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="icon fab fa-pinterest"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>